[submodule "Client/Vendor/spdlog"]
	path = Client/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Client/Vendor/imgui"]
	path = Client/Vendor/imgui
	url = https://github.com/ocornut/imgui
